 body {
    padding: 0;
    text-align: center;
    background-image: url(../images/vaderDomestic.jpg);
    background-repeat: no-repeat;
    background-size: 564px 1100px;
    background-position: right 12% bottom 45%;
    
  }
  
  .game-page{
    background-color: black;
  }

  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 14px;
    font-family: "Starjedi";
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 200px;
    height: 130px;
  }
  
  body button {
    font-family: "Starjedi";
    font-size: 23px;
    /* background-color: black;
    color: yellow; */
    padding: 15px 35px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #870007;
    color: #fff;
  }
  
  #game-board {
    float: left;
    padding: 20px 0px;
  } 
  
  canvas {
    border: 1px solid black;
  }
  
  @font-face {
    font-family: 'Starjedi';
    src: url('../fonts/starjedi/Starjedi.ttf');
  }